menu "ESP Webservice Configuration"
    config USE_MDNS
        int "Use mDNS module"
        range 0 1
        default 0
        help
            Set mDNS module to be used.

    config USE_WEBSERVICE
        int "Use Webservice module"
        range 0 1
        default 0
        help
            Set Webservice module to be used.

    config MDNS_HOST_NAME
        string "mDNS Host Name"
        default "esp-home"
        help
            Specify the domain name used in the mDNS service.
            Note that webpage also take it as a part of URL where it will send GET/POST requests to.

endmenu
