stages:
    - build
variables:
    GIT_SUBMODULE_STRATEGY: recursive

default:
    image: shaguarger/platformio:5.1.1

build-firmware:
    stage: build
    script:
        - pio run
        - mkdir build/
        - mv .pio/build/esp32dev/firmware.bin build/
        - sha256sum build/firmware.bin >> build/SHA256SUM
    artifacts:
        paths:
            - ./build/
    only:
        - main
