menu "Wifi Configuration"
    config USE_WIFI
        int "Use wifi module"
        range 0 1
        default 0
        help
            Set wifi module to be used.

    config WIFI_MODE
        int "Select wifi mode between STA, AP or both"
        range 0 2
        default 2
        help
            Select wifi mode between STA, AP or both

    config WIFI_STA_SSID
        string "WiFi STA SSID"
        default "myssid"
        help
            WiFi SSID STA (network name) to connect to.

    config WIFI_STA_PASS
        string "WiFi STA Password"
        default "mypassword"
        help
            WiFi STA password (WPA or WPA2) to use.
            Can be left blank if the network has no security set.

    config WIFI_AP_SSID
        string "WiFi AP SSID"
        default "myssid"
        help
            WiFi SSID AP (network name) to connect to.

    config WIFI_AP_PASS
        string "WiFi AP Password"
        default "mypassword"
        help
            WiFi AP password (WPA or WPA2) to use.
            Can be left blank if the network has no security set.
    
    config WIFI_AP_MAX_STA_CONN
        int "WiFi Access Point Max connections allowed"
        default 1
        help
            Max number of the STA connections to AP.        

endmenu
